<div th:fragment="createTehsil">
    <form method="post" th:action="@{/tehsil/create}" th:object="${tehsilObject}">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><label for="tehsilName">Tehsil Name</label>
                <input class="form-control" id="tehsilName" placeholder="Enter tehsil name" th:field="*{name}"
                       type="text"></div>
            <div class="col-md-4"></div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </div>
    </form>
</div>