<div th:fragment="listTehsilTbl">
    <table class="table table-striped" id="tehsilTbl" style="width:100%">
        <caption>List of Tehsil</caption>
        <thead>
        <tr>
            <th scope="col">Index</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tehsil , count : ${list}">
            <td th:text="${count.index+1}"></td>
            <td th:text="${tehsil.name}"></td>
        </tr>
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function() {
            // Initialize DataTable
            $('#tehsilTbl').DataTable();
        });
    </script>
</div>