<div th:fragment="createDistrict">
    <form class="needs-validation" method="post" novalidate th:action="@{/district/create}"
          th:object="${districtObject}">
        <div class="row">
            <div class="col-md-4"><label for="districtName">District #</label></div>
            <div class="col-md-4"><input class="form-control" id="districtName" placeholder="Enter district name"
                                         required th:field="*{name}" type="text">
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </div>
    </form></br>
    <div th:replace="/district/listDistrict :: listDistrictTbl"></div>
    <script>
        $(document).ready(function(){
            'use strict'
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
            .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
                }
            form.classList.add('was-validated')
            }, false)
            })
        });
    </script>
</div>
