<div th:fragment="createDistrict">
    <form method="post" th:action="@{/v1/district/create}" th:object="${districtObject}">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><label for="districtName">District Name</label>
                <input class="form-control" id="districtName" placeholder="Enter district name" th:field="*{name}"
                       type="text"></div>
            <div class="col-md-4"></div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </div>
    </form>
</div>
