<div th:fragment="listDistrictTbl">
    <table class="table table-striped" id="districtTbl" style="width:100%">
        <caption>List of District</caption>
        <thead>
        <tr>
            <th scope="col">Index</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="district , count : ${list}">
            <td th:text="${count.index+1}"></td>
            <td th:text="${district.name}"></td>
            <td>
                <button class="btn btn-primary btn-sm" data-bs-target="#updateDistrictModal" data-bs-toggle="modal" type="button">
                    Update
                </button>
                <button class="btn btn-danger btn-sm " data-bs-target="#deleteDistrictModal" data-bs-toggle="modal" type="button">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Update Modal -->
    <div class="modal fade" id="updateDistrictModal" tabindex="-1" aria-labelledby="updateDistrictModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update District </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" method="post" novalidate th:action="@{/v1/district/create}">
                        <div class="row">
                            <div class="col-md-4"><label for="districtName">District #</label></div>
                            <div class="col-md-4"><input class="form-control" id="districtName" placeholder="Enter district name"
                                                         required  type="text">
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                        </div>
                        <br/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Update</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End-->

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteDistrictModal" tabindex="-1" aria-labelledby="deleteDistrictModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteDistrictModalLabel">Delete District </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span>Are you sure?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Modal End-->


    <script type="text/javascript">
        $(document).ready(function() {
            // Initialize DataTable
            $('#districtTbl').DataTable();
        });
    </script>
</div>
