<div th:fragment="listDistrictTbl">
    <table class="table table-striped" id="districtTbl" style="width:100%">
        <caption>List of District</caption>
        <thead>
        <tr>
            <th hidden="hidden" scope="col"></th>
            <th scope="col">Index</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="district , count : ${list}">
            <td hidden="hidden" th:text="${district.id}"></td>
            <td th:text="${count.index}"></td>
            <td th:text="${district.name}"></td>
            <td>
                <button class="btn btn-primary btn-sm" data-bs-target="#updateDistrictModal" data-bs-toggle="modal"
                        id="updateDistrictBtn" type="button">
                    Update
                </button>
                <button class="btn btn-danger btn-sm " data-bs-target="#deleteDistrictModal" data-bs-toggle="modal"
                        id="deleteDistrictBtn" type="button">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Update Modal -->
    <div aria-hidden="true" aria-labelledby="updateDistrictModalLabel" class="modal fade" id="updateDistrictModal"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update District </h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" method="post" novalidate th:action="@{/v1/district/create}">
                        <div class="row">
                            <div class="col-md-4"><label for="districtName">District #</label></div>
                            <div class="col-md-4"><input class="form-control" id="districtName"
                                                         placeholder="Enter district name"
                                                         required type="text">
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                        </div>
                        <br/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-success" type="button">Update</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End-->

    <!-- Delete Modal -->
    <div aria-hidden="true" aria-labelledby="deleteDistrictModalLabel" class="modal fade" id="deleteDistrictModal"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteDistrictModalLabel">Delete District </h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <span>Are you sure?</span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-danger" id="deleteDistrictModelBtn" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Modal End-->


    <script type="text/javascript">
        $(document).ready(function() {
            // Initialize DataTable
            $('#districtTbl').DataTable();

            $('#deleteDistrictBtn').click(function(){
                console.log("Delete District initiated");
                var row=$(this).closest('tr');  // current row
                var id=row.find('td').eq(0).text(); // find column first
                console.log('ID ',id);

                $('#deleteDistrictModelBtn').click(function(){
                    console.log('User confirmed to delete District');

                    $.ajax({
                        url: '/district/delete/'+id,
                        type: 'DELETE',
                        success : function(result){
                            console.log("Record deleted");
                        },
                        error: function(xhr,status, message){
                            console.log("Something went wrong");
                        }
                    })

                })


            });

        });
    </script>
</div>
